/* sign up styles */
.sign_up{
  margin: 3rem 0 4rem;
  padding: 0.5rem;
  width: fit-content;
}

.sign_up_field{
  margin-bottom: 1.5rem;
  width: 25rem;
}

.sign_up_field > input{
  width: 100%;
  padding: 0.25rem;
  margin-top: 0.5rem;
}

.sign_up_button{
  width: 7.5rem;
}

.sign_up_button > input{
  width: 100%;
  padding: 0.25rem;
  font-size: 1rem;
}